body {
  color: white;
}
.titre {
  text-align: center;
  font-style: italic;
  font-weight: 900;
  color: red;
}
.titre {
  color: red;
  margin-left: -8%;
  margin-right: -8%;
}
.my-video {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.my-punsh {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-left: 15%;
  margin-top: 10%;
}
.barre{
    display: table;
    width: 1500px;
    margin: 100px auto;
    padding: 0;
    margin-top: -10%;
}
ul li{
    display: table-cell;
}

ul{
  background: linear-gradient(deepskyblue, dodgerblue);
}
ul{
  background: dodgerblue;
}
ul{
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}
ul li a{
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, .7); 
  text-decoration: none;
  padding: 8px 8px 17px 8px;
}
ul li a{
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}
ul li a{
  box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
              0 -1px 0 hsl(210, 100%, 32%) inset, 
              0 -2px 0 hsl(210, 100%, 38%) inset, 
              0 -3px 0 hsl(210, 100%, 44%) inset, 
              0 -4px 0 hsl(210, 100%, 50%) inset, 
              0 -5px 0 hsl(210, 100%, 60%) inset;
}
ul li:first-child a{
  border-radius: 3px 0 0 3px;
}
ul li:last-child a{
  border-radius: 0 3px 3px 0;
}
ul li a:hover, 
ul li a:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 42%) inset, 
                0 -2px 0 hsl(210, 100%, 48%) inset, 
                0 -3px 0 hsl(210, 100%, 54%) inset, 
                0 -4px 0 hsl(210, 100%, 60%) inset, 
                0 -5px 0 hsl(210, 100%, 70%) inset; 
} 
ul li a:active{
  background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
  box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}
ul li a:hover,
ul li a:focus{
    padding: 8px 25px 17px 25px;
}
ul li a{
  transition: padding .3s;
} 
ul li a{
  transition: all .3s .1s;
}

ul li a:hover,
ul li a:focus{
  transition: all .3s 0s;
}
ul li a{
  position: relative;
}
ul li a::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 9px;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, .5);
}
ul li a:hover::before,
ul li a:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 
                0 -1px 0 rgba(0, 0, 0, .4);
}
ul li img:hover{
-webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
     -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
         transform: scale(1.5);
}
.tokyo {
  width: 300px
}
.ville {
  width: 300px
}
.japonaise {
  width: 300px
}
.moove {
  margin-top: 5%;
   text-align: center;
}
.tokyo:hover{
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.tokyo{
 -webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
 -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
 -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
 -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
 transition: all .5s cubic-bezier( .6, 2, .4, 1);
}

.tokyo:hover .tokyo:not(:hover){
  -webkit-filter: grayscale(1) blur(5px);
  -moz-filter: grayscale(1) blur(5px);
  -ms-filter: grayscale(1) blur(5px);
  -o-filter: grayscale(1) blur(5px);
  filter: grayscale(1) blur(5px);
}
.ville:hover{
   -webkit-transform: scale(1.5);
   -moz-transform: scale(1.5);
   -ms-transfo m: scale(1.5);
   -o-transform: scale(1.5);
   transform: scale(1.5);
}
.ville{
  -webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
  -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
  -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
  -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
  transition: all .5s cubic-bezier( .6, 2, .4, 1);
}
      
.ville:hover .ville:not(:hover){
  -webkit-filter: grayscale(1) blur(5px);
  -moz-filter: grayscale(1) blur(5px);
  -ms-filter: grayscale(1) blur(5px);
  -o-filter: grayscale(1) blur(5px);
  filter: grayscale(1) blur(5px);
}

.japonaise:hover{
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.japonaise{
  -webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
  -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
  -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
  -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
  transition: all .5s cubic-bezier( .6, 2, .4, 1);
}
            
.japonaise:hover .japonaise:not(:hover){
  -webkit-filter: grayscale(1) blur(5px);
  -moz-filter: grayscale(1) blur(5px);
  -ms-filter: grayscale(1) blur(5px);
  -o-filter: grayscale(1) blur(5px);
  filter: grayscale(1) blur(5px);
}
.musique1{
  margin-left: -10%;
  margin-top: -15%;
}
.musique2{
  margin-left: -10%;
  margin-top: 0.5%
}
.musique3{
  margin-left: -10%;
  margin-top: 0.5%
}
.fond{
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;;
}












                  





  


